@import "tailwindcss";

@theme {
  --color-primary: #0F1E44;
  --color-secondary: #2056A0;
  --color-accent: #B9BFC7;
}

@custom-variant dark (&:is(.dark *));

@utility scrollbar-none {
  scrollbar-width: none;
  &::-webkit-scrollbar { display: none; }
}

body {
  overflow-x: hidden;
}
